<h1>URL Shortening Application</h1>

<br>
<%= form_for(@url) do |form| %>
<label>Enter a long URL to shorten it:</label>
<br>
<%= form.text_field :long_url, size: 75 %>
<%= form.submit "Shorten" %>
<% end %>
<br>
<br>

<% if !@error && @url[:short_url] %>
<% full_short_url = "#{@short_url_prefix}#{@url[:short_url]}" %>
<label>Short URL:</label>
<%= link_to full_short_url, full_short_url, class: "purple" %>
<% end %>

<% if @error %>
<label>Note:</label>
<ul>
<% @error.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>

