<p id="notice"><%= notice %></p>

<h1>URLs</h1>

<table>
  <thead>
    <tr>
      <th>Short URL</th>
      <th>Long URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= @short_url_prefix + url.short_url %></td>
        <td><%= url.long_url %></td>
        <% if @admin == 1 %>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @admin == 1 %>
<%= link_to 'New URL', new_url_path %>
<% end %>
